nav .brand-logo {
    height: 100%;
    padding: 10px;
}
nav .brand-logo > img {
    height: 100%;
}
.section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
.valign-wrapper .valign {
    width: 100%;
}
.section > .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media only screen and (min-width: 960px) { /*Large*/
    .flow-text {
        font-size: 2rem;
    }
}
.uppercase {
    text-transform: uppercase;
}

/* bloque1 */
#section1 .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
#section1 .images {
    margin-top: 4rem;
}
#section1 .images img {
    margin: 0 8px;
    width: 60px;
}
/* /bloque1 */

.slide-left, .slide-right {
    position: relative;
}
.slide-left .arrow img, .slide-right .arrow img {
    width: 30px;
    cursor: pointer;
}
.slide-left .arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(150%, -50%);
}
.slide-right .arrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-150%, -50%);
}

.slide-downloads a {
    color: #000;
}
.slide-downloads h5 {
    margin-bottom: 3rem;
}
.slide-downloads .material-icons {
    font-size: 28px;
    position: relative;
    top: 5px;
}

@media only screen and (max-width: 600px) {
    .slide-left.hide, .slide-right.hide {
        display: block !important;
    }
}